
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

header {
    background: #1e3a8a;
    color: #fff;
    padding: 15px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #facc15;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.hero {
    background: linear-gradient(to right, #2563eb, #1e40af);
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #facc15;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background: #eab308;
}

/* Footer */
footer {
    background: #111827;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: #facc15;
    text-decoration: none;
    margin-left: 15px;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .nav-links {
        flex-direction: column;
        background: #1e3a8a;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        display: none;
        padding: 15px;
    }

    nav.active .nav-links {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .hero h1 {
        font-size: 28px;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

      